<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      body {
        color: blanchedalmond;
        background-color: steelblue;
        text-align: center;
      }
    </style>
  </head>&nbsp;
<body>
    <h1>Edit Pokemon </h1>
    <div class="container">
<form name="pokemon" action="/pokemon" method="POST">


<button type="submit"  >CREATE NEW ITEM</button>
</body>
<footer>
  <p></p>
  <a href="https://generalassemb.ly/">Made by GA Carina Sqaud Student: Wes</a>

</footer>
</html>