<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      body {
        color: blanchedalmond;
        background-color: steelblue;
        text-align: center;
      }
    </style>
  </head>&nbsp;
<body>
    <
<div><a href="https://generalassembly.com/"><img src="https://i.ibb.co/KFJhSV3/pokedex.png" alt="pokedex" border="0"></a>
<h1>Pokedex, Gotta Catch 'Em All</h1>
<tr><h1>Your Pokemon's Name</h1></tr>

<h3><%=pokemonx.name %></h3>
          
            </li>
       <button> <a href="/">Main Page</a></button>
    </ul>
</body>
<footer>
  <p></p>
  <a href="https://generalassemb.ly/">Made by GA Carina Sqaud Student: Wes</a>
</footer>
</html>